* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F3F5FC;
  padding: 1.5rem;
  color: #A5B5CA;
  font-family: "Inter", sans-serif;
}

.logo {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;
position: absolute;
width: 50px;
height: 10px;
left: 40px;
top: 40px;
max-height: 1px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
}

.areaPrincipal {
  display: flex;
  justify-content: center;
  width: 75%;
}

::placeholder {
  color: black;
  opacity: 0.9;
}

aside {
  display: flex;
  justify-content: center;
  width: 25%;
  height: 85vh;
}

.retangulo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 32px;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.retangulo img {
  width: 80%;
  height: auto;
  margin-top: 2rem;
}

.retangulo h2 {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  margin: 1.5rem;
}

.retangulo p {
  text-align: center;
  font-size: 1rem;
  color: #495057;
  padding: 1rem;
  width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
}

.areaDeTexto {
  font-size: 2rem;
  border: none;
  background: none;
  box-shadow: none;
  appearance: none;
  outline: none;
  resize: none;
  cursor: text;
  color: black;
  width: 100%;
}

.botoes {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 500px;
  position: absolute;
  bottom: 10%;
}

.botoes span {
  display: flex;
  align-items: center;
  color: #495057;
}

.botoes2 {
  display: flex;
  width: 100%;
  gap: 10%;
}

.bot {
  width: 45%;
  height: 50px;
  border-radius: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.Cript {
  background-color: #ff2d32;
  color: #ffffff;
  border: none;
}

.Cript:hover {
  background-color: #8f1b1d;
  border: 1px solid #ff2d32;
  color: white;
}

.Descript {
  background-color: #66ffff;
  color: white;
  border: 1px solid #66ffff;
}

.Descript:hover {
  background-color: #0066cc;
  border: 1px solid #0066cc;
  color: white; 
}

.Copy {
  background-color: #ff2d32;
  border: 1px solid #5D429E;
  width: 200px;
  position: absolute;
  bottom: 10%;
  right: 7.6%;
  color: white ;
}

.Copy:hover {
  background-color: #8f1b1d;
  color: white;
}

.rodape {
  color: black;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.none {
  display: none;
}
